<app-navbar />

<div class="w-full grid place-items-start gap-6 px-20 pt-6">

    <h1 class="text-center mx-auto font-semibold text-[2rem]">Servicios Turisticos</h1>

    <button
        class="bg-(--color-secundario) text-white px-5 py-2 rounded-lg font-medium cursor-pointer hover:bg-[#282828]"
        routerLink="crud-servicios">Crud Servicios</button>

    @if (serviciosTuristicos.length === 0) {
    <p class="text-center mx-auto font-medium text-[1.5rem]">Ups...</p>
    <p class="text-center mx-auto font-medium text-[1.5rem]">No hay Servicios Turisticos para mostrar </p>
    }@else {
    <div class="w-full flex place-content-center gap-4">
        @for (servicioTuri of serviciosTuristicos; track $index) {
        <div class="max-w-xs bg-white border border-gray-200 rounded-xl shadow-lg overflow-hidden">
            <div class="relative">
                <img class="w-full h-40 object-cover" [src]="servicioTuri.imagen" [alt]="servicioTuri.nombre">
            </div>

            <div class="p-4">

                <h2 class="text-xl font-bold text-gray-800 mb-1">
                    {{servicioTuri.nombre}}
                </h2>

                <p class="text-gray-600 mb-3 text-xs leading-tight">
                    {{servicioTuri.descripcion}}
                </p>

                <div class="space-y-1">

                    <div class="flex justify-between items-start pt-1 border-t border-gray-100">
                        <span class="text-xs font-medium text-gray-500">Tipo / Destino:</span>
                        <span class="text-xs font-semibold text-gray-800 text-right">{{servicioTuri.tipo}} /
                            {{servicioTuri.destino}}</span>
                    </div>

                    <div class="flex justify-between items-start">
                        <span class="text-xs font-medium text-gray-500">Duración:</span>
                        <span class="text-xs font-semibold text-gray-800">{{servicioTuri.duracion}}</span>
                    </div>

                </div>

                <hr class="my-2 border-gray-200">

                <div class="flex justify-between items-center">
                    <div class="text-left">
                        <span class="text-xs font-medium text-gray-500 block">Precio Referencial:</span>
                        <span class="text-2xl font-extrabold text-green-600">${{servicioTuri.precioReferencial}}</span>
                    </div>

                    <div class="text-right">
                        <span class="text-xs font-medium block">Disponibilidad:</span>
                        <span class="text-sm font-bold text-green-600">Disponible</span>
                    </div>
                </div>
            </div>

            <div class="w-full flex">
                <button
                    class="bg-(--color-secundario) text-white px-5 mx-auto my-0 py-2 rounded-lg font-medium cursor-pointer hover:bg-[#282828]"
                    (click)="openDialog(servicioTuri)">
                    Realizar Reserva
                </button>
            </div>

        </div>
        }
    </div>
    }

</div>

<app-reviews />