<div class="w-full grid px-20 gap-6 mt-10 pb-10">

    <h3 class="font-semibold text-[2rem]">¿Por qué elegirnos?</h3>

    <div class="flex gap-4">

        <div class="grid p-6 border border-solid border-[black] rounded-[10px] gap-4">
            <h5 class="font-semibold text-[1.2rem]">Empresas Verificadas</h5>
            <p class="text-[1.1rem]">Todas nuestras empresas son verificadas para garantizar calidad y seguridad</p>
        </div>
        <div routerLink="reviews" class="grid p-6 border border-solid border-[black] rounded-[10px] gap-4 cursor-pointer hover:bg-[#f2f2f2]">
            <h5 class="font-semibold text-[1.2rem]">Reseñas Reales</h5>
            <p class="text-[1.1rem]">Lee experiencias auténticas de otros viajeros para tomar mejores decisiones</p>
        </div>
        <div class="grid p-6 border border-solid border-[black] rounded-[10px] gap-4">
            <h5 class="font-semibold text-[1.2rem]">Presupuestos Flexibles</h5>
            <p class="text-[1.1rem]">Personaliza tus servicios y obtén presupuestos adaptados a tu viaje</p>
        </div>

    </div>

</div>