<h2 mat-dialog-title class="text-center">
    <span class="font-semibold text-[1.8rem]">{{ titulo }}</span>
</h2>

<mat-dialog-content [formGroup]="servicioForm" class="p-6">
    <mat-form-field appearance="fill" class="w-full custom-input mb-4">
        <mat-label>Nombre del Servicio</mat-label>
        <mat-select formControlName="nombre">
            <mat-option value="tour-avistamiento">Tour de Avistamiento de Ballenas</mat-option>
            <mat-option value="traslado-aeropuerto">Traslado Aeropuerto - Ciudad</mat-option>
            <mat-option value="clase-surf">Clase de Surf para Principiantes</mat-option>
            <mat-option value="alojamiento-cabaña">Alojamiento Cabaña Rústica</mat-option>
        </mat-select>
        <mat-error *ngIf="servicioForm.get('nombre')?.hasError('required')">El nombre es obligatorio.</mat-error>
    </mat-form-field>

    <div class="grid grid-cols-2 gap-4 mb-4">
        <mat-form-field appearance="fill" class="custom-input">
            <mat-label>Turista ID</mat-label>
            <input matInput type="number" formControlName="TuristaId" min="1">
            <mat-error *ngIf="servicioForm.get('TuristaId')?.hasError('min')">Ingrese un id válido.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="custom-input">
            <mat-label>Fecha Reserva:</mat-label>
            <mat-select formControlName="destino">
                <mat-option value="puerto-lopez">Puerto López</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="grid grid-cols-2 gap-4 mb-6">
        <mat-form-field appearance="fill" class="custom-input">
            <mat-label>Cantidad</mat-label>
            <input matInput type="number" formControlName="cantidadPersonas" min="1">
            <mat-error *ngIf="servicioForm.get('cantidadPersonas')?.hasError('min')">Ingrese una cantidad valida.</mat-error>
        </mat-form-field>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end" class="pt-4">
    <button mat-button (click)="onCancelar()">
        Cancelar
    </button>
    <button mat-raised-button color="primary" [disabled]="servicioForm.invalid" (click)="onGuardar()" class="custom-save-button">
        Realizar Reserva
    </button>
</mat-dialog-actions>