<div class="w-full grid px-20 gap-6 mt-10">

    <h3 class="font-semibold text-[2rem]">Servicios Populares</h3>

    <div class="flex gap-4">

        <div class="grid place-items-center p-6 border border-solid border-[black] rounded-[10px] gap-4">
            <h5 class="font-semibold text-[1.2rem]">Excursiones</h5>
        </div>
        <div class="grid p-6 place-items-center border border-solid border-[black] rounded-[10px] gap-4">
            <h5 class="font-semibold text-[1.2rem]">Guías Turísticos</h5>
        </div>
        <div class="grid p-6 place-items-center border border-solid border-[black] rounded-[10px] gap-4">
            <h5 class="font-semibold text-[1.2rem]">Transporte</h5>
        </div>
        <div class="grid p-6 place-items-center border border-solid border-[black] rounded-[10px] gap-4">
            <h5 class="font-semibold text-[1.2rem]">Alojamiento</h5>
        </div>
        <div class="grid p-6 place-items-center border border-solid border-[black] rounded-[10px] gap-4">
            <h5 class="font-semibold text-[1.2rem]">Actividades Recreativas</h5>
        </div>

    </div>

</div>
