<h2 mat-dialog-title class="text-center">
    <span class="font-semibold text-[1.8rem]">{{ titulo }}</span>
</h2>

<mat-dialog-content [formGroup]="servicioForm" class="p-6">

    <div class="grid grid-cols-2 gap-4 mb-4">
        <mat-form-field appearance="fill" class="w-full custom-input mb-4">
            <mat-label>Nombre Turista</mat-label>
            <input matInput type="text" formControlName="nombre">
            <mat-error *ngIf="servicioForm.get('nombre')?.hasError('required')">El nombre es obligatorio.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full custom-input mb-4">
            <mat-label>Apellido Turista</mat-label>
            <input matInput type="text" formControlName="apellido">
            <mat-error *ngIf="servicioForm.get('apellido')?.hasError('required')">El apellido es
                obligatorio.</mat-error>
        </mat-form-field>
    </div>

    <div class="grid grid-cols-2 gap-4 mb-6">
        <mat-form-field appearance="fill" class="w-full custom-input mb-4">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-error *ngIf="servicioForm.get('email')?.hasError('required')">El email es obligatorio.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full custom-input mb-4">
            <mat-label>Nacionalidad</mat-label>
            <input matInput type="text" formControlName="nacionalidad">
            <mat-error *ngIf="servicioForm.get('nacionalidad')?.hasError('required')">La Nacionalidad es
                obligatoria.</mat-error>
        </mat-form-field>

    </div>

</mat-dialog-content>

<mat-dialog-actions align="end" class="pt-4">
    <button mat-button (click)="onCancelar()">
        Cancelar
    </button>
    <button mat-raised-button color="primary" [disabled]="servicioForm.invalid" (click)="onGuardar()"
        class="custom-save-button">
        Guardar Turista
    </button>
</mat-dialog-actions>