<div class="w-full grid place-items-center gap-4">

  <h1 class="text-[2.5rem] font-bold pt-8">Descubre Experiencias Turísticas Únicas</h1>
  <p class="text-[1.1rem] font-medium text-[#6b6b6b]">Conecta con empresas turísticas locales y planifica tu próxima aventura</p>

  <div class="content-boton-info">

    <button routerLink="servicios" class="bg-(--color-secundario) text-white px-5 py-2 rounded-lg font-medium cursor-pointer hover:bg-[#282828]">Explorar Servicios</button>

  </div>

</div>

<app-servicios-turisticos/>

<app-footer/>
