@import "tailwindcss";

:root{
    --texto-primario: white;
    --texto-secundario: black;
    --color-primario: white;
    --color-secundario: black;
}

*{
    font-family: 'Erode', serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
