@import "tailwindcss";

:root{
    --texto-primario: white;
    --texto-secundario: black;
    --color-primario: white;
    --color-secundario: black;
}

*{
    box-sizing: border-box;
    font-family: 'Erode', serif;
    text-decoration: none;
}