/* You can add global styles to this file, and also import other style files */
:root{
    --texto-primario: white;
    --texto-secundario: black;
    --color-primario: white;
    --color-secundario: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Erode', serif;
    text-decoration: none;
}