<div class="w-full grid px-20 py-10 gap-8">

  <h3 class="font-semibold text-[3rem] text-center">Reseñas de nuestro clientes</h3>

  <div class="flex gap-4">

    <div class="grid p-6 border border-solid border-[black] rounded-[10px] gap-4">
      <h5 class="font-semibold text-[1.5rem]">Cesar Israel</h5>
      <p class="text-[1.2rem]">Excelente guía turistica, fue espectacular el paseo.</p>
      <div class="flex gap-2">
        <span class="material-symbols-outlined text-yellow-400"> star_rate </span>
        <span class="material-symbols-outlined text-yellow-400"> star_rate </span>
        <span class="material-symbols-outlined text-yellow-400"> star_rate </span>
        <span class="material-symbols-outlined text-yellow-400"> star_rate </span>
        <span class="material-symbols-outlined text-yellow-400"> star_rate </span>
      </div>
    </div>

    <div class="grid p-6 border border-solid border-[black] rounded-[10px] gap-4">
      <h5 class="font-semibold text-[1.5rem]">Ronald Ayovi</h5>
      <p class="text-[1.2rem]">Me gustaron muchos los cuartos de alojamiento, muy modernos y bonitos.</p>
      <div class="flex gap-2">
        <span class="material-symbols-outlined text-yellow-400"> star_rate </span>
        <span class="material-symbols-outlined text-yellow-400"> star_rate </span>
        <span class="material-symbols-outlined text-yellow-400"> star_rate </span>
        <span class="material-symbols-outlined text-yellow-400"> star_rate </span>
        <span class="material-symbols-outlined text-yellow-400"> star_rate </span>
      </div>
    </div>

    <div class="grid p-6 border border-solid border-[black] rounded-[10px] gap-4">
      <h5 class="font-semibold text-[1.5rem]">Marco Solis</h5>
      <p class="text-[1.2rem]">Las actividades muy entretenidas, me gustó pasear bastante pero faltó que me dieran más agua.</p>
      <div class="flex gap-2">
        <span class="material-symbols-outlined text-yellow-400"> star_rate </span>
        <span class="material-symbols-outlined text-yellow-400"> star_rate </span>
        <span class="material-symbols-outlined text-yellow-400"> star_rate </span>
        <span class="material-symbols-outlined text-yellow-400"> star_rate </span>
      </div>
    </div>

  </div>

</div>
