.content-navbar{
    width: 100%;
    background-color: var(--color-primario);
    padding: 1rem 1.5rem;
    border-bottom: 1px solid black;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.content-navbar a{
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
}

.content-info{
    width: 100%;
    display: grid;
    place-items: center;
    gap: 1rem;
}

.content-info h1{
    font-size: 2.5rem;
    font-weight: 700;
    padding-top: 2rem;
}

.content-info p{
    font-size: 1.1rem;
    font-weight: 500;
    color: #6b6b6b;
}